extends ./layout/index

block contenido
    main.container.mt-5 
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg" alt="Imagen de nosotros", class="img-fluid")
            div.col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit eget gravida cum sociis natoque penatibus et magnis dis. Mattis rhoncus urna neque viverra justo nec ultrices dui. Sodales ut eu sem integer vitae justo. Dolor sit amet consectetur adipiscing elit ut aliquam.

                p Et sollicitudin ac orci phasellus. Integer vitae justo eget magna fermentum iaculis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Fringilla phasellus faucibus scelerisque eleifend. Tempus iaculis urna id volutpat. Nulla facilisi etiam dignissim diam quis enim. 

                p Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Vestibulum lectus mauris ultrices eros in. Eu augue ut lectus arcu bibendum at. Integer vitae justo eget magna fermentum iaculis. In hendrerit gravida rutrum quisque non tellus. Ipsum faucibus vitae aliquet nec ullamcorper sit amet.
    
    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure, sint nesciunt explicabo consequuntur tempore autem excepturi magni enim inventore facilis eveniet.

                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="Mejores Destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure, sint nesciunt explicabo consequuntur tempore autem excepturi magni enim inventore facilis eveniet.

                div.col-md-4
                    img(src="img/icono_precios.svg", alt="Mejores Precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure, sint nesciunt explicabo consequuntur tempore autem excepturi magni enim inventore facilis eveniet.